{% if field.value %}
    <div class="img-thumbnail"
        style="width: 60px; height: 60px; background-clip: content-box; background-color: {{ field.value }};"
        data-bs-toggle="tooltip" title="{{ field.value }}"
    ></div>
{% else %}
    <span class="badge bg-secondary">{{ 'label.empty'|trans(domain = 'EasyAdminBundle') }}</span>
{% endif %}