{% set file_extension = field.value|split('.')|last|lower %}
{% set image_extensions = [ 'apng', 'avif', 'bmp', 'gif', 'jpg', 'jpeg', 'jfif', 'pjpeg', 'pjp', 'png', 'svg', 'webp' ] %}

{% if field.value %}
    <div class="media-thumbnail">
    {% if file_extension in image_extensions %}
        <img src="{{ asset(field.formattedValue) }}">
    {% else %}
        <i class="fas fa-fw fa-file text-primary"></i>
        <span>{{ file_extension }}</span>
    {% endif %}
        <a href="{{ asset(field.formattedValue) }}" class="stretched-link"
            {% if file_extension in image_extensions %}
            data-lightbox="image"
            {% else %}
            target="_blank"
            {% endif %}
        ></a>
    </div>
{% else %}
    <span class="badge bg-secondary">{{ 'label.empty'|trans(domain = 'EasyAdminBundle') }}</span>
{% endif %}