<div class="link position-relative">
    <div class="card" style="background-color: {{ field.value.color }};">
        <img src="{{ field.value.image }}" class="card-img-top rounded mx-auto d-block" alt="{{ field.value.name }}">
    </div>
    <div class="text-center">
        <h5 class="card-title text-truncate">{{ field.value.name }}</h5>
    </div>
    <a href="{{ field.value.url }}" class="stretched-link" target="_blank"></a>
</div>