{% if field.value %}
    <select class="{{ field.formTypeOptions['attr']['class'] }}" readonly="readonly">
        {% for key, value in field.customOptions.get('choices') %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select>
{% else %}
    <span class="badge bg-secondary">{{ 'label.empty'|trans(domain = 'EasyAdminBundle') }}</span>
{% endif %}