{% for role in field.value %}
    {% if field.value|length == 1 or role.id not in ["ROLE_ADMIN", "ROLE_USER"] %}
        <span class="badge bg-{{ role.id == "ROLE_ADMIN" ? 'primary' : 'secondary' }}">{{ role.name }}</span>
    {% endif %}
{% endfor %}
