{% if ea.crud.currentAction == 'detail' %}
    <span title="{{ field.value }}">
        {{ field.formattedValue|raw|nl2br }}
    </span>
{% else %}
    <span title="{{ field.value }}">
        {{ field.formattedValue|striptags }}
    </span>
{% endif %}
