<section class="home">
    <div class="container">
        <div class="row">
            <uib-tabset active="1" class="tabset container">

                <div id="tabs">
                    <uib-tab id="tab_{{tab.id}}" class="tab" index="$index + 1" ng-hide="homeCtrl.isHidden(tab.hidden)" ng-repeat="tab in homeCtrl.loggeduser.tabs | orderBy:'position'">
                        <uib-tab-heading>
                            <span ng-bind="tab.name"></span>
                            <a class="config" ng-click="homeCtrl.options_editTab(tab)" ng-show="homeCtrl.showedConfig">
                                <i class="fa fa-gears"></i>
                            </a>
                        </uib-tab-heading>

                        <div id="links">
                            <div id="link_{{link.id}}" class="link col-md-{{12/tab.cols}}" ng-hide="homeCtrl.isHidden(link.hidden)" ng-repeat="link in tab.links | orderBy:'position'">
                                <a ng-href="{{link.url}}">
                                    <div class="img" style="background-image:url('{{link.image}}'); background-color:{{link.bgcolor}}" />
                                </a>
                                <a class="config" ng-click="homeCtrl.options_editLink(link)" ng-show="homeCtrl.showedConfig">
                                    <i class="fa fa-gears"></i>
                                </a>
                                <a ng-href="{{link.url}}">
                                    <h4 class="text-center show" ng-bind="link.name"></h4>
                                </a>
                            </div>
                        </div>

                        <div ng-show="homeCtrl.showedConfig">
                            <div class="link col-md-{{12/tab.cols}}">
                                <a ng-click="homeCtrl.options_addLink()">
                                    <img class="img-responsive" style="background-image:url('src/styles/add.png');" />
                                </a>
                            </div>
                        </div>
                    </uib-tab>
                </div>

                <uib-tab ng-show="homeCtrl.showedConfig" ng-click="homeCtrl.options_addTab()" disable="true" disablecontent="true">
                    <uib-tab-heading>
                        <span>+</span>
                    </uib-tab-heading>
                </uib-tab>

        		<div class="container" ng-show="(homeCtrl.loggeduser.tabs).length == 0">
        			<h2 class="text-center">There are no tabs around here!</h2>
        		</div>
            </uib-tabset>
        </div>

    </div>
</section>

<a class="pageslide-menu-selector" ng-click="homeCtrl.openedMenu = !homeCtrl.openedMenu">
    <i class="fa fa-bars"></i>
</a>
<pageslide ps-class="pageslide-menu" ps-body-class="pageslide-body" ps-push="true" ps-size="250px" ps-side="right" ps-open="homeCtrl.openedMenu">
    <div class="pageslide-footer clearfix">
        <a class="pull-left" ng-click="homeCtrl.toggleHidden()" uib-tooltip="{{homeCtrl.showedHidden ? 'Hide' : 'Show'}} tabs and links" tooltip-placement="bottom">
            <i class="fa" ng-class="homeCtrl.showedHidden ? 'fa-eye-slash' : 'fa-eye'"></i>
        </a>
        <a class="pull-left" ng-click="homeCtrl.toggleOptions()" uib-tooltip="Enter/Exit config your Markertabs" tooltip-placement="bottom">
            <i class="fa fa-gears"></i>
        </a>
        <a class="pull-left" ng-click="homeCtrl.toggleFullscreen()" uib-tooltip="Enter/Exit fullscreen mode" tooltip-placement="bottom">
            <i class="fa fa-arrows-alt"></i>
        </a>
        <a class="pull-left" ng-click="homeCtrl.logout()" uib-tooltip="Logout" tooltip-placement="bottom">
            <i class="fa fa-power-off"></i>
        </a>
    </div>
</pageslide>
