{% extends ea.templatePath('layout') %}

{% block page_title %}{{ 'sections.admin.home.title'|trans }}{% endblock %}
{% block content_title %}{{ 'sections.admin.home.title'|trans }}{% endblock %}

{% block main %}
<div class="row">

	<div class="col-12 col-lg-4">
		<!-- Admin -->
		<div class="card mb-3">
			<div class="card-header cursor-pointer" data-bs-toggle="collapse" data-bs-target="#card-user" aria-expanded="false" aria-controls="card-user">
				<h5 class="card-title mb-0">
					{{ 'entities.user.sections.data'|trans }}
				</h5>
			</div>
			<div class="card-body text-center collapse show" id="card-user">
				{% if null == ea.userMenu.avatarUrl %}
					<span class="avatar avatar-128 rounded-circle bg-primary text-white border">{{ ea.user is not null ? app.user.name|first : 'U' }}</span>
				{% else %}
					<img class="avatar avatar-128 rounded-circle bg-primary border" src="{{ ea.userMenu.avatarUrl }}" />
				{% endif %}
				<h4 class="card-title mb-0">{{ ea.userMenu.name }}</h4>
				<div class="mb-2">
					{% for role in app.user.entityRoles %}
						{% if app.user.entityRoles|length == 1 or role.id != "ROLE_ADMIN" %}
							<span class="badge bg-{{ role.id == "ROLE_ADMIN" ? 'primary' : 'secondary' }}">{{ role.name }}</span>
						{% endif %}
					{% endfor %}
				</div>
				{% if ea.userMenu.items|length > 0 %}
					<div>
						{% for item in ea.userMenu.items %}
							<a class="btn btn-primary btn-sm" href="{{ item.linkUrl }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}">
								{% if item.icon is not empty %}<i class="{{ item.icon }}"></i>{% endif %} <span>{{ item.label }}</span>
							</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
		<!-- Clock -->
		<div class="card mb-3 bg-primary text-white">
			<h3 class="card-title text-center">
				<div class="d-flex flex-wrap justify-content-center mt-2 clock">
					<a><span class="badge hours"></span></a> :
					<a><span class="badge min"></span></a> :
					<a><span class="badge sec"></span></a>
				</div>
			</h3>
		</div>
	</div>

	<div class="col-12 col-lg-8">
		<!-- Admins -->
		{% if app.user.hasPermission('ShowUserAdmin') %}
		<div class="card mb-3">
			<div class="card-header cursor-pointer" data-bs-toggle="collapse" data-bs-target="#card-admins" aria-expanded="false" aria-controls="card-admins">
				<h5 class="card-title mb-0">
					{{ 'entities.admin.plural'|trans }}
				</h5>
			</div>
			<div class="card-body collapse show" id="card-admins">
				{% for admin in admins|slice(0, 5) %}
					<div class="d-flex align-items-center">
						<div class="flex-shrink-0">
							{% if null == admin.profileImage %}
								<span class="avatar avatar-32 rounded-circle bg-primary text-white border me-3 align-self-center">{{ admin.name|first }}</span>
							{% else %}
								<img class="avatar avatar-32 rounded-circle bg-primary border me-3 align-self-center" src="{{ vich_uploader_asset(admin.profileImage, 'file') }}" />
							{% endif %}
						</div>
						<div class="flex-grow-1 ms-3">
							<div>
								{% set see = ea_url().setController('App\\Controller\\Admin\\Cruds\\AdminCrudController').setAction('detail').setEntityId(admin.id) %}
								<a href="{{ see }}">
									{{ admin.fullname }}
								</a>
							</div>
							<div>
								{% for role in admin.entityRoles %}
									{% if admin.entityRoles|length == 1 or role.id != "ROLE_ADMIN" %}
										<span class="badge bg-{{ role.id == "ROLE_ADMIN" ? 'primary' : 'secondary' }}">{{ role.name }}</span>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					{% if not loop.last %}
						<hr class="my-3">
					{% endif %}
				{% endfor %}
			</div>
			{% if admins|length > 5 %}
				{% set seeMore = ea_url().setController('App\\Controller\\Admin\\Cruds\\AdminCrudController').setAction('index') %}
				<div class="card-footer text-center">
					<a href="{{ seeMore }}" class="btn btn-outline-primary btn-sm">
						{{ 'general.seeMore'|trans }}
					</a>
				</div>
			{% endif %}
		</div>
		{% endif %}
		<!-- Users -->
		{% if users|length > 0 and enabled_public and app.user.hasPermission('ShowUser') %}
		<div class="card mb-3">
			<div class="card-header cursor-pointer" data-bs-toggle="collapse" data-bs-target="#card-users" aria-expanded="false" aria-controls="card-users">
				<h5 class="card-title mb-0">
					{{ 'entities.user.plural'|trans }}
				</h5>
			</div>
			<div class="card-body collapse show" id="card-users">
				{% for user in users|slice(0, 15) %}
					<div class="d-flex align-items-center">
						<div class="flex-shrink-0">
							{% if null == user.profileImage %}
								<span class="avatar avatar-32 rounded-circle bg-primary text-white border me-3 align-self-center">{{ user.name|first }}</span>
							{% else %}
								<img class="avatar avatar-32 rounded-circle bg-primary border me-3 align-self-center" src="{{ vich_uploader_asset(user.profileImage, 'file') }}" />
							{% endif %}
						</div>
						<div class="flex-grow-1 ms-3">
							<div>
								{% set see = ea_url().setController('App\\Controller\\Admin\\Cruds\\UserCrudController').setAction('detail').setEntityId(user.id) %}
								<a href="{{ see }}">
									{{ user.fullname }}
								</a>
							</div>
						</div>
					</div>
					{% if not loop.last %}
						<hr class="my-3">
					{% endif %}
				{% endfor %}
			</div>
			{% if users|length > 15 %}
				{% set seeMore = ea_url().setController('App\\Controller\\Admin\\Cruds\\UserCrudController').setAction('index') %}
				<div class="card-footer text-center">
					<a href="{{ seeMore }}" class="btn btn-outline-primary btn-sm">
						{{ 'general.seeMore'|trans }}
					</a>
				</div>
			{% endif %}
		</div>
		{% endif %}
	</div>

</div>
{% endblock %}