{% extends ea.templatePath('layout') %}

{% block page_title %}{{ 'entities.media.plural'|trans }}{% endblock %}
{% block content_title %}{{ 'entities.media.plural'|trans }}{% endblock %}

{% block main %}
    <div action="{{ path('public_media') }}" class="dropzone dropzone-media"
        dictDefaultMessage="{{ 'dropzone.dictDefaultMessage'|trans }}"
        dictFallbackMessage="{{ 'dropzone.dictFallbackMessage'|trans }}"
        dictFallbackText="{{ 'dropzone.dictFallbackText'|trans }}"
        dictFileTooBig="{{ 'dropzone.dictFileTooBig'|trans }}"
        dictInvalidFileType="{{ 'dropzone.dictInvalidFileType'|trans }}"
        dictResponseError="{{ 'dropzone.dictResponseError'|trans }}"
        dictCancelUpload="{{ 'dropzone.dictCancelUpload'|trans }}"
        dictUploadCanceled="{{ 'dropzone.dictUploadCanceled'|trans }}"
        dictCancelUploadConfirmation="{{ 'dropzone.dictCancelUploadConfirmation'|trans }}"
        dictRemoveFile="{{ 'dropzone.dictRemoveFile'|trans }}"
        dictRemoveFileConfirmation="{{ 'dropzone.dictRemoveFileConfirmation'|trans }}"
        dictMaxFilesExceeded="{{ 'dropzone.dictMaxFilesExceeded'|trans }}"
        dictFileSizeUnits="{{ 'dropzone.dictFileSizeUnits'|trans }}"
    >
    </div>
    <div class="media-filters row mt-4">
        <div class="col-lg-4">
            <label for="media-filter-name" class="form-label">{{ 'entities.media.fields.name'|trans }}</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control media-filter-name" name="media-filter-name" placeholder="{{ 'entities.media.fields.name'|trans }}">
                <div class="input-group-text">
                    <input class="form-check-input mt-0 media-filter-name-exclude me-1" type="checkbox" id="media-filter-name-exclude">
                    <label class="custom-control-label" for="media-filter-name-exclude">{{ 'general.exclude'|trans }}</label>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <label for="media-filter-ext" class="form-label">{{ 'entities.media.fields.ext'|trans }}</label>
            <div class="input-group mb-3">
                <select multiple class="form-control select2 media-filter-ext" name="media-filter-ext" data-placeholder="{{ 'entities.media.fields.ext'|trans }}"></select>
                <div class="input-group-text">
                    <input class="form-check-input mt-0 media-filter-ext-exclude me-1" type="checkbox" id="media-filter-ext-exclude">
                    <label class="custom-control-label" for="media-filter-ext-exclude">{{ 'general.exclude'|trans }}</label>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <label for="media-filter-category" class="form-label">{{ 'entities.media.fields.category'|trans }}</label>
            <div class="input-group mb-3">
                <select multiple class="form-control select2 media-filter-category" name="media-filter-category" data-placeholder="{{ 'entities.media.fields.category'|trans }}"></select>
                <div class="input-group-text">
                    <input class="form-check-input mt-0 media-filter-category-exclude me-1" type="checkbox" id="media-filter-category-exclude">
                    <label class="custom-control-label" for="media-filter-category-exclude">{{ 'general.exclude'|trans }}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="media-container row mt-4 justify-content-center justify-content-md-start"></div>

    <!-- Modal Media Info -->
    <div class="modal fade media-info" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="modal-file col-md-9 text-center">
                            <img class="img-fluid">
                            <div class="border mb-3 embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item"></iframe>
                            </div>
                            <a class="btn btn-primary" target="_blank">{{ 'action.detail'|trans([], 'EasyAdminBundle') }}</a>
                        </div>
                        <div class="modal-info col-md-3 border-start">
                            <small class="details">
                                <div class="filename">
                                    <strong>{{ 'entities.media.fields.filename'|trans }}:</strong>
                                    <span></span>
                                </div>
                                <div class="mime">
                                    <strong>{{ 'entities.media.fields.mime'|trans }}:</strong>
                                    <span></span>
                                </div>
                                <div class="datetime">
                                    <strong>{{ 'entities.media.fields.datetime'|trans }}:</strong>
                                    <span></span>
                                </div>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary modal-button-close modal-button-enter" data-bs-dismiss="modal">
                        <i class="fas fa-fw fa-times"></i> {{ 'action.cancel'|trans([], 'EasyAdminBundle') }}
                    </button>
                    {% if permission_deleteMedia %}
                    <button type="button" class="btn btn-sm btn-danger modal-button-delete">
                        <i class="fas fa-fw fa-trash"></i> {{ 'action.delete'|trans([], 'EasyAdminBundle') }}
                    </button>
                    {% endif %}
                    {% if permission_editMedia %}
                    <button type="button" class="btn btn-sm btn-primary modal-button-edit" data-bs-dismiss="modal">
                        <i class="fas fa-fw fa-pen"></i> {{ 'action.edit'|trans([], 'EasyAdminBundle') }}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Media Edit -->
    <div class="modal fade media-edit" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="modal-info col-md-12">
                            <form id="media-form" enctype="multipart/form-data">
                                <div class="field-file mb-3">
                                    <legend class="col-form-label">{{ 'entities.media.fields.file'|trans }}</legend>
                                    <div class="mb-2">
                                        <input type="file" class="form-control" id="file" name="file" />
                                    </div>
                                </div>
                                <div class="field-text mb-3">
                                    <label class="form-label required" for="name">{{ 'entities.media.fields.name'|trans }}</label>
                                    <input type="text" id="name" name="name" placeholder="{{ 'entities.media.fields.name'|trans }}" class="form-control" required />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary modal-button-back" data-bs-dismiss="modal">
                        <i class="fas fa-fw fa-times"></i> {{ 'action.cancel'|trans([], 'EasyAdminBundle') }}
                    </button>
                    <button type="button" class="btn btn-sm btn-success modal-button-save modal-button-enter">
                        <i class="fas fa-fw fa-save"></i> {{ 'action.save'|trans([], 'EasyAdminBundle') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
<script type="text/javascript">
	$(function() {
		var mediaContainer = $(".media-container");

		var mediaFilters = $('.media-filters');
		var filterName = mediaFilters.find('.media-filter-name');
		var filterExt = mediaFilters.find('.media-filter-ext');
		var filterCategory = mediaFilters.find('.media-filter-category');
		var filterNameExclude = mediaFilters.find('.media-filter-name-exclude');
		var filterExtExclude = mediaFilters.find('.media-filter-ext-exclude');
		var filterCategoryExclude = mediaFilters.find('.media-filter-category-exclude');

		var modalInfo = $('.modal.media-info');
		var modalEdit = $('.modal.media-edit');

		// Loader
		mediaContainer.loader({
			destroy: false
		});

		// Get medias
		$.get("{{ path('public_media', {type: 'GET'}) }}", function(medias) {
			for (let key = 0; key < medias.length; key++) {
				var media = medias[key];

				//Populate filters
				if (media.ext && !filterExt.find('option[value="' + media.ext + '"]').length) {
					var optionExt = new Option(media.ext.toUpperCase(), media.ext, false, false);
					filterExt.append(optionExt).val(null).trigger('change');
				}
				media.categories.forEach(category => {
					if (!filterCategory.find('option[value="' + category + '"]').length) {
						var optionCategory = new Option(category, category, false, false);
						filterCategory.append(optionCategory).val(null).trigger('change');
					}
				});

				mediaContainer.append(
					createMediaContent(media, false, true, false, false, true)
				);
			}

			mediaContainer.loader();

			//Filters
			filterName.on('input', function() {
				applyMediaFilters(mediaContainer, mediaFilters);
			});
			filterExt.on('change', function() {
				applyMediaFilters(mediaContainer, mediaFilters);
			});
			filterCategory.on('change', function() {
				applyMediaFilters(mediaContainer, mediaFilters);
			});
			filterNameExclude.on('change', function() {
				applyMediaFilters(mediaContainer, mediaFilters);
			});
			filterExtExclude.on('change', function() {
				applyMediaFilters(mediaContainer, mediaFilters);
			});
			filterCategoryExclude.on('change', function() {
				applyMediaFilters(mediaContainer, mediaFilters);
			});
		});

		// Delete media
		$('.modal-button-delete').on('click', function(e) {
			const id = modalInfo.data("id");

			Swal.fire({
				icon: 'warning',
				title: "{{ 'delete_modal.title'|trans([], 'EasyAdminBundle') }}",
				text: "{{ 'delete_modal.content'|trans([], 'EasyAdminBundle') }}",
				confirmButtonText: "<i class='fas fa-fw fa-trash'></i> {{ 'action.delete'|trans([], 'EasyAdminBundle') }}",
				showCancelButton: true,
				cancelButtonText: "<i class='fas fa-fw fa-window-close'></i> {{ 'action.cancel'|trans([], 'EasyAdminBundle') }}",
				customClass: {
					confirmButton: 'btn bg-danger',
					cancelButton: 'btn bg-secondary',
				}
			}).then((result) => {
				if (result.isConfirmed) {
					$.post("{{ path('public_media', {type: 'DELETE'}) }}&id=" + id, function(msg) {
						// Remove Media
						var mediaContent = $('.media-thumbnail[data-id="' + id + '"]').parent(".media-content");
						mediaContent.remove();

						//Update filters
						var mediaExt = mediaContent.attr("data-filter-ext");
						var mediaCategories = mediaContent.attr("data-filter-categories").split(",");

						//Update ext filter
						if (!mediaContainer.find(".media-content[data-filter-ext='" + mediaExt + "']").length) {
							filterExt.find("option[value='" + mediaExt + "']").remove();
							filterExt.trigger('change');
						}

						//Update category filter
						mediaCategories.forEach(function(category) {
							stillAreCategory = false;
							mediaContainer.find(".media-content").each(function() {
								if (compare(category, $(this).attr("data-filter-categories").split(","))) {
									stillAreCategory = true;
								}
							});
							if (!stillAreCategory) {
								filterCategory.find("option[value='" + category + "']").remove();
								filterCategory.trigger('change');
							}
						});

						var bsModal = bootstrap.Modal.getOrCreateInstance(modalInfo[0]);
						bsModal.hide();
					});
				}
			});
		});

		// Edit media
		$('.modal-button-save').on('click', function(e) {
			var btnSuccess = $(this);
			if ($("#media-form")[0].checkValidity())  {
				btnSuccess.buttonLoader();
				var id = modalEdit.data("id");
				$.ajax({
					url: "{{ path('public_media', {type: 'UPDATE'}) }}&id=" + id,
					type: "POST",
					data: new FormData(document.getElementById("media-form")),
					processData: false,
					contentType: false
				}).done(function(media) {
					var mediaContent = $('.media-thumbnail[data-id="' + media.id + '"]').parent(".media-content");

					//Get old filters
					var mediaExt = mediaContent.attr("data-filter-ext");
					var mediaCategories = mediaContent.attr("data-filter-categories").split(",");

					// Update Modal Info
					modalMediaInfoLink(media, false);

					// Update Media
					mediaContent.replaceWith(createMediaContent(media, false, true, false, false, true));

					//Update ext filter
					if (!mediaContainer.find(".media-content[data-filter-ext='" + mediaExt + "']").length) {
						filterExt.find("option[value='" + mediaExt + "']").remove();
						filterExt.trigger('change');
					}

					//Update category filter
					mediaCategories.forEach(function(category) {
						stillAreCategory = false;
						mediaContainer.find(".media-content").each(function() {
							if (compare(category, $(this).attr("data-filter-categories").split(","))) {
								stillAreCategory = true;
							}
						});
						if (!stillAreCategory) {
							filterCategory.find("option[value='" + category + "']").remove();
							filterCategory.trigger('change');
						}
					});
					
					//Populate new filters
					if (media.ext && !filterExt.find('option[value="' + media.ext + '"]').length) {
						var optionExt = new Option(media.ext.toUpperCase(), media.ext, false, false);
						filterExt.append(optionExt).val(null).trigger('change');
					}
					media.categories.forEach(category => {
						if (!filterCategory.find('option[value="' + category + '"]').length) {
							var optionCategory = new Option(category, category, false, false);
							filterCategory.append(optionCategory).val(null).trigger('change');
						}
					});
					
					//Apply filters
					applyMediaFilters(mediaContainer, mediaFilters);

					btnSuccess.buttonLoader();
					var bsModalEdit = bootstrap.Modal.getOrCreateInstance(modalEdit[0]);
					bsModalEdit.hide();
					var bsModalInfo = bootstrap.Modal.getOrCreateInstance(modalInfo[0]);
					bsModalInfo.show();
				});
			}
		});

		// Open Modal edit
		$('.modal-button-edit').on('click', function(e) {
			var bsModal = bootstrap.Modal.getOrCreateInstance(modalEdit[0]);
			bsModal.show();
		});
		// Back to Modal info
		$('.modal-button-back').on('click', function(e) {
			var bsModal = bootstrap.Modal.getOrCreateInstance(modalInfo[0]);
			bsModal.show();
		});
	});
</script>
{% endblock %}