{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% trans_default_domain ea.i18n.translationDomain %}

<!DOCTYPE html>
<html lang="{{ app.session.get('config').locale }}" dir="{{ ea.i18n.textDirection }}">
	<head>
        {% block head_metas %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <meta name="generator" content="EasyAdmin" />
        {% endblock head_metas %}

        {% set page_title_block_output %}{% block page_title %}{{ block('content_title') }}{% endblock page_title %}{% endset %}
        <title>{{ app.session.get('config').appName }} - {{ page_title_block_output|striptags|raw }}</title>

        {% block head_stylesheets %}{% endblock head_stylesheets %}

        {% block configured_stylesheets %}
            {{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea.assets.cssAssets ?? [] }, with_context = false) }}
            {{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
        {% endblock configured_stylesheets %}

        {% block head_favicon %}
            <link rel="shortcut icon" href="{{ app.session.get('config').appFavicon }}">
        {% endblock head_favicon %}

        {% block head_javascript %}{% endblock head_javascript %}

        {% block configured_javascripts %}
            {{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea.assets.jsAssets ?? [] }, with_context = false) }}
            {{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
        {% endblock configured_javascripts %}

        {% if 'rtl' == ea.i18n.textDirection %}{% endif %}

        {% block configured_head_contents %}
            {% for htmlContent in ea.assets.headContents ?? [] %}
                {{ htmlContent|raw }}
            {% endfor %}
        {% endblock configured_head_contents %}
	</head>

    {% block body %}
    <body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
        {% block javascript_page_layout %}{% endblock javascript_page_layout %}

        {% block wrapper_wrapper %}
            {% set user_menu_avatar %}
                {% if null == ea.userMenu.avatarUrl or not ea.userMenu.avatarDisplayed %}
                    <span class="user-avatar avatar avatar-24 rounded-circle bg-primary float-start text-white border">{{ ea.user is not null ? app.user.name|first : 'U' }}</span>
                {% else %}
                    <img class="user-avatar avatar avatar-24 rounded-circle bg-primary float-start border" src="{{ ea.userMenu.avatarUrl }}" />
                {% endif %}
            {% endset %}

            {% set impersonator_permission = constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_IMPERSONATOR') is defined ? 'IS_IMPERSONATOR' : 'ROLE_PREVIOUS_ADMIN' %}

            {% set user_menu_dropdown %}
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuDropdown">
                    <h6 class="dropdown-header d-flex align-items-center">
                        {{ user_menu_avatar }}
                        <div class="ms-2">
                            {{ ea.user is null ? 'user.anonymous'|trans(domain = 'EasyAdminBundle') : ea.userMenu.name }}
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>

                    {% block user_menu %}
                        {% if ea.userMenu.items|length > 0 %}
                            {% for item in ea.userMenu.items %}
                                {% if item.isMenuSection and not loop.first %}
                                    <div class="dropdown-divider"></div>
                                {% elseif not item.isMenuSection %}
                                    <a href="{{ item.linkUrl }}" class="dropdown-item user-action {{ item.cssClass }}"
                                    target="{{ item.linkTarget }}" rel="{{ item.linkRel }}"
                                    referrerpolicy="origin-when-cross-origin">
                                        {% if item.icon is not empty %}<i class="fa fa-fw {{ item.icon }}"></i>{% endif %}
                                        <span>{{ item.label }}</span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endblock user_menu %}
                </ul>
            {% endset %}

            {% block wrapper %}
                {% block header %}
                <nav class="navbar navbar-expand navbar-dark bg-primary sticky-top p-0">
                    <div class="container-fluid p-0">
                        <a class="navbar-brand navbar-brand-sidebar col-sm-3 col-md-2 me-0 text-center" title="{{ app.session.get('config').appName }}" href="{{ path(ea.dashboardRouteName) }}">
                            <img src="{{ app.session.get('config').appHeaderLogo }}" style="height: 31px;" alt="{{ app.session.get('config').appName }}">
                        </a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            
                        </ul>
                        <div class="d-flex">
                            <ul class="navbar-nav {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}">
                                <li class="nav-item dropdown text-nowrap">
                                    <a class="nav-link dropdown-toggle" href="#" id="userMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ user_menu_avatar }}
                                    </a>
                                    {{ user_menu_dropdown }}
                                </li>
                            </ul>
                            <button class="navbar-toggler d-block d-md-none shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-expanded="false" aria-controls="mainMenu">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                </nav>
                {% endblock header %}

                <div class="container-fluid">
                    <div class="row">
                        {% block sidebar %}
                            {% block main_menu_wrapper %}
                                {{ include(ea.templatePath('main_menu')) }}
                            {% endblock main_menu_wrapper %}
                        {% endblock sidebar %}
                        
                        {% block content %}
                        <main role="main" class="col-md-10 px-4 py-3">

                            {% block flash_messages %}
                                {% if app.session.get('config').floatingAlerts == false %}
                                    {{ include(ea.templatePath('flash_messages')) }}
                                {% endif %}
                            {% endblock flash_messages %}

                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-3 mb-3 border-bottom">
                                {% block content_header_wrapper %}
                                    {% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
                                    {% block content_header %}
                                        <h1 class="h4 mb-0 title">
                                            {% block content_title %}{% endblock content_title %}
                                            {% block content_help %}
                                                {% if has_help_message %}
                                                    <span class="content-header-help">
                                                    <i class="far fa-question-circle" data-bs-toggle="tooltip" title="{{ ea.crud.helpMessage|e('html_attr') }}"></i>
                                                </span>
                                                {% endif %}
                                            {% endblock content_help %}
                                        </h1>
                                        {% block page_actions_wrapper %}
                                        <div>
                                            {% block page_actions %}{% endblock page_actions %}
                                        </div>
                                        {% endblock page_actions_wrapper %}
                                    {% endblock content_header %}
                                {% endblock content_header_wrapper %}
                            </div>

                            <section id="main" class="row mb-3 justify-content-center">
                                <div class="col-12">
                                    {% block main %}{% endblock main %}
                                </div>
                            </section>

                            {% block content_footer_wrapper %}
                                {% set content_footer = block('content_footer') is defined ? block('content_footer') : '' %}
                                {% if content_footer is not empty %}
                                    <section class="content-footer">
                                        {{ content_footer }}
                                    </section>
                                {% endif %}
                            {% endblock content_footer_wrapper %}
                        </main>
                        {% endblock content %}
                    </div>
                </div>
            {% endblock wrapper %}
        {% endblock wrapper_wrapper %}

        {# TOAST ALERTS #}
        {% if app.session.get('config').floatingAlerts == true %}
            {% set flash_messages = app.session.flashbag.all %}
            {% if flash_messages|length > 0 %}
                <script type="text/javascript">
                    $(function() {
                    {% for label, messages in flash_messages %}
                        {% for message in messages %}
                            {% if label == "info" %}
                                toastr.info("{{ message|trans }}");
                            {% elseif label == "warning" %}
                                toastr.warning("{{ message|trans }}");
                            {% elseif label == "success" %}
                                toastr.success("{{ message|trans }}");
                            {% elseif label == "danger" %}
                                toastr.error("{{ message|trans }}");
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    });
                </script>
            {% endif %}
        {% endif %}

        {% block body_javascript %}{% endblock body_javascript %}

        {% block configured_body_contents %}
            {% for htmlContent in ea.assets.bodyContents ?? [] %}
                {{ htmlContent|raw }}
            {% endfor %}
        {% endblock %}
    </body>
    {% endblock body %}
</html>
