{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
<nav class="col-md-2 d-md-block bg-light sidebar collapse" id="mainMenu">
    <div class="sidebar-sticky">
        {% block main_menu_before %}{% endblock %}
        <ul class="nav flex-column">
            {% block main_menu %}
                {% for menuItem in ea.mainMenu.items %}
                    {% block menu_item %}
                        {{ _self.render_menu_item(menuItem) }}
                    {% endblock menu_item %}
                {% endfor %}
            {% endblock main_menu %}
        </ul>
        {% block main_menu_after %}{% endblock %}
    </div>
</nav>

{% macro render_menu_item(item) %}
    {% if item.isMenuSection %}
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted {{ item.cssClass }}">
            {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|raw }}</span>
        </h6>
        <ul class="nav flex-column">
    {% else %}
        <li class="nav-item">
            <a class="nav-link {{ ea.mainMenu.isSelected(item) ? 'active' }} {{ ea.mainMenu.isExpanded(item) ? 'expanded' }} {{ item.hasSubItems ? 'submenu-toggle' }} {{ item.cssClass }}"
            href="{{ item.hasSubItems ? '#submenu_' ~ item.index : item.linkUrl }}"
            {% if item.hasSubItems %}
            data-bs-toggle="collapse" aria-expanded="{{ ea.mainMenu.isExpanded(item) ? 'true' : 'false' }}" aria-controls="submenu_{{ item.index }}"
            {% endif %}
            target="{{ item.linkTarget }}" rel="{{ item.linkRel }}"
            referrerpolicy="origin-when-cross-origin">
                {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
                <span>{{ item.label|raw }}</span>
                {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right submenu-toggle-icon"></i>{% endif %}
            </a>
        </li>
        {% if item.hasSubItems %}
            <ul class="collapse {{ ea.mainMenu.isExpanded(item) ? 'show' }} list-unstyled ps-4" id="submenu_{{ item.index }}">
                {% for subItem in item.subItems %}
                    {% block menu_subitem %}
                        {{ _self.render_menu_item(subItem) }}
                    {% endblock menu_subitem %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endmacro %}
