/* Links */
.field-link {
	width: 150px;
	max-width: 150px;
}
.link:hover .card {
	border-color: #888888;
}
.link:hover .card .card-img-top {
	transform: scale(0.9);
}
.link:hover h5 {
	color: #888888;
}
.link .card .card-img-top {
	object-fit: contain;
	height: 150px;
	transform: scale(0.8);
	transition: transform 0.5s ease;
}
.link h5 {
	min-height: 26px;
}
