{% use '@EasyAdmin/symfony-form-themes/bootstrap_5_layout.html.twig' %}

{# Password #}
{% block password_widget %}
    <div class="input-group">
        <input type="password" class="form-control" data-toggle="password" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
        <button class="btn btn-outline-secondary input-password-hide" type="button">
            <i class="fas fa-fw fa-eye"></i>
        </button>
    </div>
{% endblock password_widget %}

{# Vich #}
{% block vich_file_widget %}
    <div class="mb-2">
        {{ form_widget(form.file) }}
    </div>

    <div>
        {% if download_uri|default('') is not empty %}
            {% set file_extension = download_uri|split('.')|last|lower %}
            {% set image_extensions = [ 'apng', 'avif', 'bmp', 'gif', 'jpg', 'jpeg', 'jfif', 'pjpeg', 'pjp', 'png', 'svg', 'webp' ] %}

            <div class="media-thumbnail">
            {% if file_extension in image_extensions %}
                <img src="{{ asset(download_uri) }}">
            {% else %}
                <i class="fas fa-fw fa-file text-primary"></i>
                <span>{{ file_extension }}</span>
            {% endif %}
                <a href="{{ asset(download_uri) }}" class="stretched-link"
                    {% if file_extension in image_extensions %}
                    data-lightbox="image"
                    {% else %}
                    target="_blank"
                    {% endif %}
                ></a>
            </div>
        {% endif %}
        
        {%- if form.delete is defined -%}
            {{- form_row(form.delete) -}}
        {%- endif -%}
    </div>
{% endblock %}