{% extends '@!EasyAdmin/crud/form_theme.html.twig' %}

{% block form_row %}
    {% set row_attr = row_attr|merge({
        class: row_attr.class|default('') ~ ' form-group mb-3'
    }) %}

    <div class="{{ form.vars.ea_crud_form.ea_field.columns ?? form.vars.ea_crud_form.ea_field.defaultColumns ?? '' }}">
        <div {% with { attr: row_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            {% set has_prepend_html = ea.field.prepend_html|default(null) is not null %}
            {% set has_append_html = ea.field.append_html|default(null) is not null %}
            {% set has_input_groups = has_prepend_html or has_append_html %}

            {% if has_input_groups %}<div class="input-group">{% endif %}
                {% if has_prepend_html %}
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ ea.field.prepend_html|raw }}</span>
                    </div>
                {% endif %}

                {{ form_widget(form) }}

                {% if has_append_html %}
                    <span class="input-group-text">{{ ea.field.append_html|raw }}</span>
                {% endif %}
                {% if has_input_groups %}</div>{% endif %}

            {% set nullable_fields_fqcn = [
                'EasyCorp\Bundle\EasyAdminBundle\Field\DateTimeField',
                'EasyCorp\Bundle\EasyAdminBundle\Field\DateField',
                'EasyCorp\Bundle\EasyAdminBundle\Field\TimeField',
            ] %}
            {% if form.vars.ea_crud_form.ea_field.fieldFqcn|default(false) in nullable_fields_fqcn and ea.field.nullable|default(false) %}
                <div class="nullable-control">
                    <label>
                        <input type="checkbox" {% if data is null %}checked="checked"{% endif %}>
                        {{ 'label.nullable_field'|trans({}, 'EasyAdminBundle')}}
                    </label>
                </div>
            {% endif %}

            {% if ea.field.help ?? false %}
                <small class="d-block form-text">{{ ea.field.help|raw }}</small>
            {% elseif form.vars.help ?? false %}
                <small class="d-block form-text">{{ form.vars.help|trans(form.vars.help_translation_parameters, form.vars.translation_domain)|raw }}</small>
            {% endif %}

            {{- form_errors(form) -}}
        </div>
    </div>

    {# if a field doesn't define its columns explicitly, insert a fill element to make the field take the entire row space #}
    {% if form.vars.ea_crud_form.ea_field.columns|default(null) is null %}
        <div class="flex-fill"></div>
    {% endif %}
{% endblock form_row %}

{% block form_label -%}
    {% if label is same as(false) -%}
        <label>{# the empty <label> is needed to not break the form design #}</label>
    {%- else -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id, class: (label_attr.class|default('') ~ ' form-label')|trim}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html|default(false) is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html|default(false) is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label %}

{# EasyAdmin form type #}
{% block ea_crud_widget %}
    {% if ea_crud_form.form_tabs|length > 0 %}
        <div class="col-12">
            <div class="nav-tabs-custom form-tabs">
                <ul class="nav nav-tabs">
                    {% for tab_name, tab_config in ea_form_tabs %}
                        <li class="nav-item">
                            <a class="nav-link {% if tab_config.active %}active{% endif %}" href="#{{ tab_config['id'] }}" id="{{ tab_config['id'] }}-tab" data-bs-toggle="tab">
                                {%- if tab_config.icon|default(false) -%}
                                    <i class="fa fa-fw fa-{{ tab_config.icon }}"></i>
                                {%- endif -%}
                                {{ tab_config['label']|trans(domain = ea.i18n.translationDomain) }}
                                {%- if tab_config.errors > 0 -%}
                                    <span class="badge bg-danger" title="{{ 'form.tab.error_badge_title'|trans({'%count%': tab_config.errors}, 'EasyAdminBundle') }}">
                                        {{- tab_config.errors -}}
                                    </span>
                                {%- endif -%}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for tab_name, tab_config in ea_form_tabs %}
                        <div id="{{ tab_config['id'] }}" class="tab-pane {% if tab_config.active %}active{% endif %} {{ tab_config['css_class']|default('') }}">
                            {% if tab_config['help']|default(false) %}
                                <div class="content-header-help tab-help">
                                    {{ tab_config['help']|trans(domain = ea.i18n.translationDomain)|raw }}
                                </div>
                            {% endif %}

                            {{ block('ea_crud_widget_panels') }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {{ block('ea_crud_widget_panels') }}
    {% endif %}
{% endblock ea_crud_widget %}

{% block ea_crud_widget_panels %}
    {% for panel_name, panel_config in ea_crud_form.form_panels|filter(panel_config => not panel_config.form_tab or panel_config.form_tab == tab_name) %}
        {% set panel_has_header = panel_config.label|default(false) or panel_config.icon|default(false) or panel_config.help|default(false) %}

        {% set collapsible = panel_config.collapsible %}
        {% set collapsed = panel_config.collapsed %}

        <div class="{{ panel_config.css_class ?? '' }} mb-3">
            <div class="card">
                {% if panel_has_header %}
                    <div class="card-header {{ collapsible ? 'collapsible' }} {{ panel_config.help|default(false) is not empty ? 'with-help' }}">
                        <div class="form-panel-title">
                            {% if collapsible %}
                                <a href="#content-{{ panel_name }}" data-bs-toggle="collapse"
                                    class="form-panel-collapse {{ collapsed ? 'collapsed' }}"
                                    aria-expanded="{{ collapsed ? 'false' : 'true' }}" aria-controls="content-{{ panel_name }}">
                            {% else %}
                            <span>
                            {% endif %}
                                {% if collapsible %}
                                    <i class="fas fw fa-chevron-right form-panel-collapse-marker"></i>
                                {% endif %}

                                {% if panel_config.icon|default(false) %}
                                    <i class="form-panel-icon {{ panel_config.icon }}"></i>
                                {% endif %}
                                {{ panel_config.label|raw }}
                            {% if collapsible %}
                            </a>
                            {% else %}
                            </span>
                            {% endif %}

                            {% if panel_config.help|default(false) %}
                                <div class="form-panel-help">{{ panel_config.help|raw }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div id="content-{{ panel_name }}" class="card-body {{ not panel_has_header ? 'without-header' }} {{ collapsible ? 'collapse' }} {{ not collapsed ? 'show'}}">
                    <div class="row">
                        {% for field in form|filter(field => 'hidden' not in field.vars.block_prefixes and field.vars.ea_crud_form.form_panel == panel_name) %}
                            {% if not field.vars.ea_crud_form.form_tab or field.vars.ea_crud_form.form_tab == tab_name %}
                                {{ form_row(field) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% for field in form|filter(field => 'hidden' not in field.vars.block_prefixes and (not field.vars.ea_crud_form.form_tab or field.vars.ea_crud_form.form_tab == tab_name)) %}
            {{ form_row(field) }}
        {% endfor %}
    {% endfor %}
{% endblock ea_crud_widget_panels %}

{# EasyAdminFilters form type #}
{% block ea_filters_widget %}
    {% set applied_filters = ea.request.query.get('filters')|default([])|keys %}

    {% for field in form %}
        <div class="col-12">
            <div class="filter-field {% if not loop.last %}border-bottom{% endif %} py-1 px-3 {% if loop.last %}pb-2{% endif %}" data-filter-property="{{ field.vars.name }}">
                <div class="form-check my-2">
                    <input class="form-check-input filter-checkbox" type="checkbox" id="filter-field-{{ loop.index }}" {% if field.vars.name in applied_filters %}checked{% endif %}>
                    <label class="form-check-label" for="filter-field-{{ loop.index }}"
                        data-bs-toggle="collapse" data-bs-target="#filter-content-{{ loop.index }}" aria-expanded="{{ field.vars.name in applied_filters ? 'true' : 'false' }}" aria-controls="filter-content-{{ loop.index }}"
                        {% for name, value in field.vars.label_attr|default([]) %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                        {{ field.vars.label|default(field.vars.name|humanize)|trans(domain = ea.i18n.translationDomain) }}
                    </label>
                </div>
                <div id="filter-content-{{ loop.index }}" class="filter-content collapse {% if field.vars.name in applied_filters %}show{% endif %}" aria-labelledby="filter-heading-{{ loop.index }}">
                    <div class="form-widget my-2">
                        {{ form_widget(field) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        document.querySelectorAll('.filter-checkbox').forEach((filterCheckbox) => {
            filterCheckbox.addEventListener('change', () => {
                const filterToggleLink = filterCheckbox.nextElementSibling;
                const filterExpandedAttribute = filterCheckbox.nextElementSibling.getAttribute('aria-expanded');

                if ((filterCheckbox.checked && 'false' === filterExpandedAttribute) || (!filterCheckbox.checked && 'true' === filterExpandedAttribute)) {
                    var bsCollapse = bootstrap.Collapse.getOrCreateInstance($(filterToggleLink.dataset.bsTarget)[0]);
                    bsCollapse.toggle();
                }
            });
        });

        // TODO: when using the native datepicker, 'change' isn't fired (either in plain JavaScript
        // or jQuery) unless you input the entire date + time information
        document.querySelector('form#{{ form.vars.id }}').addEventListener('change', (event) => {
            if (event.target.classList.contains('filter-checkbox')) {
                return;
            }

            const filterCheckbox = event.target.closest('.filter-field').querySelector('.filter-checkbox');
            if (!filterCheckbox.checked) {
                filterCheckbox.checked = true;
            }
        });
    </script>
{% endblock ea_filters_widget %}

{# Password #}
{% block password_widget %}
    <div class="input-group">
        <input type="password" class="form-control" data-toggle="password" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
        <button class="btn btn-outline-secondary input-password-hide" type="button">
            <i class="fas fa-fw fa-eye"></i>
        </button>
    </div>
{% endblock password_widget %}

{# Vich #}
{% block vich_file_widget %}
    <div class="mb-2">
        {{ form_widget(form.file) }}
    </div>

    <div>
        {% if download_uri|default('') is not empty %}
            {% set file_extension = download_uri|split('.')|last|lower %}
            {% set image_extensions = [ 'apng', 'avif', 'bmp', 'gif', 'jpg', 'jpeg', 'jfif', 'pjpeg', 'pjp', 'png', 'svg', 'webp' ] %}

            <div class="media-thumbnail">
            {% if file_extension in image_extensions %}
                <img src="{{ asset(download_uri) }}">
            {% else %}
                <i class="fas fa-fw fa-file text-primary"></i>
                <span>{{ file_extension }}</span>
            {% endif %}
                <a href="{{ asset(download_uri) }}" class="stretched-link"
                    {% if file_extension in image_extensions %}
                    data-lightbox="image"
                    {% else %}
                    target="_blank"
                    {% endif %}
                ></a>
            </div>
        {% endif %}
        
        {%- if form.delete is defined -%}
            {{- form_row(form.delete) -}}
        {%- endif -%}
    </div>
{% endblock %}

{# Media #}
{% block entity_widget %}
    {% if 'class' in form.vars.attr|keys and form.vars.attr.class == "mediafield" %}
        {{ form_widget(form, { 'attr': {'class': 'd-none media-select'}}) }}

        <div class="media-thumbnails row mb-2">
        </div>

        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal-media-{{ form.vars.id }}">
            <i class="fas fa-fw fa-file"></i> {{ 'action.choose_file'|trans([], 'EasyAdminBundle') }}
        </button>

        <!-- Modal -->
        <div class="modal fade modal-media" role="dialog" id="modal-media-{{ form.vars.id }}">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" data-id="{{ form.vars.id }}">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'entities.media.plural'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div action="{{ path('public_media') }}" class="dropzone dropzone-media"
                            {% if form.vars.attr.acceptedFiles is defined %}acceptedFiles="{{ form.vars.attr.acceptedFiles }}" {% endif %}
                            {% if form.vars.attr.dictDefaultMessage is defined %}dictDefaultMessage="{{ form.vars.attr.dictDefaultMessage }}" {% endif %}
                            {% if form.vars.attr.dictFallbackMessage is defined %}dictFallbackMessage="{{ form.vars.attr.dictFallbackMessage }}" {% endif %}
                            {% if form.vars.attr.dictFallbackText is defined %}dictFallbackText="{{ form.vars.attr.dictFallbackText }}" {% endif %}
                            {% if form.vars.attr.dictFileTooBig is defined %}dictFileTooBig="{{ form.vars.attr.dictFileTooBig }}" {% endif %}
                            {% if form.vars.attr.dictInvalidFileType is defined %}dictInvalidFileType="{{ form.vars.attr.dictInvalidFileType }}" {% endif %}
                            {% if form.vars.attr.dictResponseError is defined %}dictResponseError="{{ form.vars.attr.dictResponseError }}" {% endif %}
                            {% if form.vars.attr.dictCancelUpload is defined %}dictCancelUpload="{{ form.vars.attr.dictCancelUpload }}" {% endif %}
                            {% if form.vars.attr.dictUploadCanceled is defined %}dictUploadCanceled="{{ form.vars.attr.dictUploadCanceled }}" {% endif %}
                            {% if form.vars.attr.dictCancelUploadConfirmation is defined %}dictCancelUploadConfirmation="{{ form.vars.attr.dictCancelUploadConfirmation }}" {% endif %}
                            {% if form.vars.attr.dictRemoveFile is defined %}dictRemoveFile="{{ form.vars.attr.dictRemoveFile }}" {% endif %}
                            {% if form.vars.attr.dictRemoveFileConfirmation is defined %}dictRemoveFileConfirmation="{{ form.vars.attr.dictRemoveFileConfirmation }}" {% endif %}
                            {% if form.vars.attr.dictMaxFilesExceeded is defined %}dictMaxFilesExceeded="{{ form.vars.attr.dictMaxFilesExceeded }}" {% endif %}
                            {% if form.vars.attr.dictFileSizeUnits is defined %}dictFileSizeUnits="{{ form.vars.attr.dictFileSizeUnits }}" {% endif %}
                        >
                        </div>
                        <div class="media-filters row mt-4">
                            <div class="col-lg-4">
                                <label for="media-filter-name">{{ 'entities.media.fields.name'|trans }}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control media-filter-name" name="media-filter-name" placeholder="{{ 'entities.media.fields.name'|trans }}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input media-filter-name-exclude" id="media-filter-name-exclude">
                                                <label class="custom-control-label" for="media-filter-name-exclude">{{ 'general.exclude'|trans }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="media-filter-ext">{{ 'entities.media.fields.ext'|trans }}</label>
                                <div class="input-group">
                                    <select multiple class="form-control select2 media-filter-ext" name="media-filter-ext" data-placeholder="{{ 'entities.media.fields.ext'|trans }}"></select>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input media-filter-ext-exclude" id="media-filter-ext-exclude">
                                                <label class="custom-control-label" for="media-filter-ext-exclude">{{ 'general.exclude'|trans }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="media-filter-category">{{ 'entities.media.fields.category'|trans }}</label>
                                <div class="input-group">
                                    <select multiple class="form-control select2 media-filter-category" name="media-filter-category" data-placeholder="{{ 'entities.media.fields.category'|trans }}"></select>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input media-filter-category-exclude" id="media-filter-category-exclude">
                                                <label class="custom-control-label" for="media-filter-category-exclude">{{ 'general.exclude'|trans }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-container media-form row mt-4 justify-content-center justify-content-md-start"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary modal-button-close" data-bs-dismiss="modal">
                            <i class="fas fa-fw fa-times"></i> {{ 'action.cancel'|trans([], 'EasyAdminBundle') }}
                        </button>
                        <button type="button" class="btn btn-sm btn-primary modal-button-choose modal-button-enter" data-bs-dismiss="modal">
                            <i class="fas fa-fw fa-check"></i> {{ 'general.choose'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}