{% extends 'public/blocks/base.html.twig' %}

{% block title %}{{ 'sections.home.title'|trans }}{% endblock title %}

{% block body_class %}home bg-primary{% endblock body_class %}

{% block body %}

<!-- Desktop menu -->
<div class="fixed-top start-auto p-4 d-none d-md-block">
    <div class="float-end">
        <div class="btn-toolbar">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-primary btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#floatingMenu" aria-expanded="false" aria-controls="floatingMenu">
                    <i class="fas fa-fw fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="btn-toolbar mt-3 justify-content-between collapse" id="floatingMenu">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary btn-outline-secondary btn-eye">
                    <i class="fas fa-fw fa-eye"></i>
                </button>
                <a href="#" class="btn btn-primary btn-outline-secondary">
                    <i class="fas fa-fw fa-edit"></i>
                </a>
                <a href="{{ path('public_profile_edit') }}" class="btn btn-primary btn-outline-secondary">
                    <i class="fas fa-fw fa-user-edit"></i>
                </a>
                <a href="{{ path('public_logout') }}" class="btn btn-primary btn-outline-secondary">
                    <i class="fas fa-fw fa-power-off"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Mobile menu -->
<div class="fixed-top start-auto p-4 d-block d-md-none">
    <div class="float-end">
        <div class="btn-toolbar">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-primary btn-outline-secondary" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
                    <i class="fas fa-fw fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-top h-75" tabindex="-1" id="mobileMenu">
    <div class="offcanvas-body">
        <ul class="nav nav-pills nav-fill mb-2 pb-2 border-bottom">
            <li class="nav-item">
                <a class="nav-link btn-eye" href="#">
                    <i class="fas fa-fw fa-eye"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-edit"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('public_profile_edit') }}">
                    <i class="fas fa-fw fa-user-edit"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('public_logout') }}">
                    <i class="fas fa-fw fa-power-off"></i>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills flex-column">
        {% for tab in user.tabs %}
            <li class="nav-item {{ tab.hidden ? 'd-none tab-hidden' }}">
                <a class="nav-link {{ loop.first ? 'active' }}" href="#" data-bs-dismiss="offcanvas"
                id="{{ tab.slugName }}-tab-mobileMenu" data-bs-toggle="tab" data-bs-target="#{{ tab.slugName }}" aria-controls="{{ tab.slugName }}" aria-selected="{{ loop.first ? 'true' : 'false' }}">
                    {{ tab.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<!-- Content -->
<div class="row my-5">
    <div class="col tabs">
        <!-- Tabs -->
        <ul class="nav nav-tabs px-3 d-none d-md-flex">
        {% for tab in user.tabs %}
            <li class="nav-item px-1 {{ tab.hidden ? 'd-none tab-hidden' }}">
                <button class="nav-link {{ loop.first ? 'active' }}" type="button"
                id="{{ tab.slugName }}-tab-mobileMenu" data-bs-toggle="tab" data-bs-target="#{{ tab.slugName }}" aria-controls="{{ tab.slugName }}" aria-selected="{{ loop.first ? 'true' : 'false' }}">
                    {{ tab.name }}
                </button>
            </li>
        {% endfor %}
        </ul>
        <!-- Tabs Contents -->
        <div class="tab-content bg-ccgray rounded text-white">
            {% for tab in user.tabs %}
                <div class="tab-pane fade {{ loop.first ? 'show active' }}"
                id="{{ tab.slugName }}" aria-labelledby="{{ tab.slugName }}-tab">
                    <div class="row">
                        {% for link in tab.links %}
                            <div class="link position-relative col-xl-2 col-md-3 col-sm-4 col-6 {{ link.hidden ? 'd-none link-hidden' }} ">
                                <div class="card" style="background-color: {{ link.color }};">
                                    <img src="{{ link.image }}" class="card-img-top rounded mx-auto d-block" alt="{{ link.name }}">
                                </div>
                                <div class="text-center">
                                    <h5 class="card-title text-truncate">{{ link.name }}</h5>
                                </div>
                                <a href="{{ link.url }}" class="stretched-link"></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}

{% block javascript %}
<script type="text/javascript">
    // Prevent no closing offcanvas on links
    $("#mobileMenu [data-bs-dismiss]").on('click', function () {
        var bsOffcanvas = bootstrap.Offcanvas.getOrCreateInstance($('#mobileMenu')[0]);
        bsOffcanvas.hide();
    });

    // Show/Hide tabs and links
    $(".btn-eye").on('click', function () {
        Swal.fire({
            title: "{{ 'sections.home.checkPass'|trans }}",
            icon: 'question',
            html: `
                <input type="password" id="eye-password" class="swal2-input mt-4 mb-2" placeholder="{{ 'entities.user.fields.password'|trans }}">
            `,
            confirmButtonText: "{{ 'sections.home.itsMe'|trans }}",
            cancelButtonText: "{{ 'sections.home.itsNotMe'|trans }}",
            showCancelButton: true,
            customClass: {
                confirmButton: 'bg-primary',
                cancelButton: 'bg-secondary'
            },
            focusConfirm: false,
            preConfirm: () => {
                return {
                    password: Swal.getPopup().querySelector('#eye-password').value
                }
            },
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.value) {
                $.post("/checkPass", {
                    "password": result.value.password
                }).done(function(response) {
                    $(".tab-hidden, .link-hidden").toggleClass("d-none");
                    $(".btn-eye .fas").toggleClass("fa-eye fa-eye-slash");
                }).fail(function(response) {
                    Swal.fire({
                        title: response.responseJSON.message,
                        icon: 'error',
                        confirmButtonText: "{{ 'sections.home.okItsNotMe'|trans }}",
                        customClass: {
                            confirmButton: 'bg-primary'
                        }
                    })
                });
            }
        });
    });
</script>
{% endblock javascript %}