{% extends 'public/blocks/base.html.twig' %}

{% block title %}{{ 'login_page.sign_in'|trans([], 'EasyAdminBundle') }}{% endblock title %}

{% block body_class %}login bg-primary{% endblock body_class %}

{% block body %}

<div class="row my-5">
    <div class="col-lg-6 col-xl-4 mx-auto">
        <div class="card bg-transparent text-white border-0">
            <div class="card-body text-center">
                <img class="mx-auto d-block mb-4" src="{{ app.session.get('config').appHeaderLogo }}" style="max-width: 100%; max-height: 72px;" alt="{{ app.session.get('config').appName }}">
                <form method="post">
                    {% if app.session.get('config').enableUsername %}
                        <div class="mb-3">
                            <label for="inputUsername" class="sr-only">{{ 'entities.user.fields.username'|trans }}</label>
                            <input type="username" id="inputUsername" name="username" class="form-control" placeholder="{{ 'entities.user.fields.username'|trans }}" value="{{ last_username }}" required autofocus>
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label for="inputEmail" class="sr-only">{{ 'entities.user.fields.email'|trans }}</label>
                            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="{{ 'entities.user.fields.email'|trans }}" value="{{ last_username }}" required autofocus>
                        </div>
                    {% endif %}
                    
                    <div class="mb-3">
                        <label for="inputPassword" class="sr-only">{{ 'entities.user.fields.password'|trans }}</label>
                        <div class="input-group">
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="{{ 'entities.user.fields.password'|trans }}" data-toggle="password" required>
                            <button class="btn btn-outline-secondary input-password-hide" type="button">
                                <i class="fas fa-fw fa-eye"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input float-none" id="remember_me" name="_remember_me" checked>
                        <label class="form-check-label" for="remember_me">{{ 'login_page.remember_me'|trans([], 'EasyAdminBundle') }}</label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-outline-light btn-loader" type="submit">
                        <i class="fas fa-fw fa-sign-in-alt"></i> {{ 'login_page.sign_in'|trans([], 'EasyAdminBundle') }}
                    </button>
                </form>
                <p class="mt-3 mb-0 text-muted">&copy; {{ "now"|date("Y") }}</p>
            </div>
            <div class="card-footer py-3 text-center bg-transparent border-top-0 text-white">
                {% if enabled_public and app.session.get('config').enableRegister %}
                    <a href="{{ path('public_register') }}" class="text-white">{{ 'sections.login.register'|trans }}</a>
                    <hr />
                {% endif %}
                <a href="{{ path('public_resetPassword') }}" class="text-white">{{ 'sections.login.resetPassword'|trans }}</a>
            </div>
        </div>
   </div>
</div>

{% endblock body %}

{% block javascript %}
{% endblock javascript %}