{% extends 'public/blocks/base.html.twig' %}

{% block title %}{{ 'sections.profile_edit.title'|trans }}{% endblock title %}

{% block body_class %}profile_edit bg-primary{% endblock body_class %}

{% block body %}

<div class="row my-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-fw fa-user-edit"></i> {{ 'sections.profile_edit.title'|trans }}
            </div>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
   </div>

    <div class="col-sm-12 mt-4">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-fw fa-lock"></i> {{ 'sections.profile_edit.changePassword'|trans }}
            </div>
            <div class="card-body">
                {{ form(form_pass) }}
            </div>
        </div>
   </div>
   
    <div class="col-sm-12 mt-4">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-fw fa-trash"></i> {{ 'sections.profile_edit.deleteAccount'|trans }}
            </div>
            <div class="card-body">
                {{ form(form_delete) }}
                
                <div class="modal fade" id="modal-delete" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    {{ 'sections.profile_edit.confirmDeleteTitle'|trans }}
                                </h5>
                            </div>
                            <div class="modal-body">
                                <p class="m-0">
                                    {{ 'sections.profile_edit.confirmDeleteContent'|trans }}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                                    <i class="fas fa-fw fa-window-close"></i> {{ 'action.cancel'|trans([], 'EasyAdminBundle') }}
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" id="modal-delete-button">
                                    <i class="fas fa-fw fa-trash"></i> {{ 'action.delete'|trans([], 'EasyAdminBundle') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
   </div>
</div>

<div class="fixed-top start-auto p-4">
    <div class="float-end">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <a href="{{ path('public_home') }}" class="btn btn-primary btn-outline-secondary">
                    <i class="fas fa-fw fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block javascript %}
<script type="text/javascript">
	$(function() {
		$('#user_delete_form_submit').on('click', function(e) {
			e.preventDefault();
			var bsModal = bootstrap.Modal.getOrCreateInstance($('#modal-delete')[0]);
			bsModal.show();
		});
		$('#modal-delete-button').on('click', function(e) {
			$('#user_delete_form').parent('form').trigger('submit');
		});
	});
</script>
{% endblock javascript %}