{% extends 'public/blocks/base.html.twig' %}

{% block title %}{{ 'general.register'|trans }}{% endblock title %}

{% block body_class %}register bg-primary{% endblock body_class %}

{% block body %}

<div class="row my-5">
    <div class="col-12 col-xl-6 col-lg-7 col-md-9 mx-auto">
        <div class="card bg-transparent text-white border-0">
            <div class="card-body text-center">
                <img class="mx-auto d-block mb-4" src="{{ app.session.get('config').appHeaderLogo }}" style="max-width: 100%; max-height: 72px;" alt="{{ app.session.get('config').appName }}">
                {{ form(form) }}
                <p class="mt-3 mb-0 text-muted">&copy; {{ "now"|date("Y") }}</p>
            </div>
            <div class="card-footer text-center bg-transparent text-white border-top-0">
                <a href="{{ path('public_login') }}" class="text-white">{{ 'sections.register.login'|trans }}</a>
            </div>
        </div>
   </div>
</div>

{% endblock body %}

{% block javascript %}
{% endblock javascript %}