{% extends 'public/blocks/base.html.twig' %}

{% block title %}{{ 'general.resetPassword'|trans }}{% endblock title %}

{% block body_class %}resetPassword bg-primary{% endblock body_class %}

{% block body %}

<div class="row my-5">
    <div class="col-12 col-xl-6 col-lg-7 col-md-9 mx-auto">
        <div class="card bg-transparent text-white border-0">
            <div class="card-body text-center">
                <p>{{ 'sections.resetPassword.sended'|trans({'%time%': tokenLifetime|date('g')}) }}</p>
                <p>{{ 'sections.resetPassword.back'|trans({'%link%': path('public_resetPassword')})|raw }}</p>
            </div>
        </div>
   </div>
</div>

{% endblock body %}

{% block javascript %}
{% endblock javascript %}