<!DOCTYPE html>
<html lang="{{ app.session.get('config').locale }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{{ app.session.get('config').appFavicon }}" />

    <title>{{ app.session.get('config').appName }} - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/public.css') }}" />
</head>

<body id="{% block body_id %}{% endblock %}" class="d-flex flex-column min-vh-100 {% block body_class %}{% endblock %}">

    {% if app.session.get('config').enablePublicHeader == true %}
        {% include 'public/blocks/nav.html.twig' %}
    {% endif %}

    <main role="main" class="container">

        {# FIXED ALERTS #}
        {% if app.session.get('config').floatingAlerts == false %}
            {% if app.session is not null and app.session.started %}
                {% set flash_messages = app.session.flashbag.all %}
                {% if flash_messages|length > 0 %}
                    {% for label, messages in flash_messages %}
                        {% for message in messages %}
                            <div class="my-2 alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% block body %}{% endblock body %}
    </main>

    {% if app.session.get('config').enablePublicFooter == true %}
        {% include 'public/blocks/footer.html.twig' %}
    {% endif %}

    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/public.js') }}"></script>

    {# TOAST ALERTS #}
    {% if app.session.get('config').floatingAlerts == true %}
        {% if app.session is not null and app.session.started %}
            {% set flash_messages = app.session.flashbag.all %}
            {% if flash_messages|length > 0 %}
                <script type="text/javascript">
                    $(function() {
                    {% for label, messages in flash_messages %}
                        {% for message in messages %}
                            {% if label == "info" %}
                                toastr.info("{{ message|trans }}");
                            {% elseif label == "warning" %}
                                toastr.warning("{{ message|trans }}");
                            {% elseif label == "success" %}
                                toastr.success("{{ message|trans }}");
                            {% elseif label == "danger" %}
                                toastr.error("{{ message|trans }}");
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    });
                </script>
            {% endif %}
        {% endif %}
    {% endif %}
    
    {% block javascript %}{% endblock javascript %}
</body>

</html>