<footer class="footer mt-auto py-4 bg-primary text-white">
    <div class="container">

        <div class="row py-2">
            <div class="col-md-12 text-center">
                <a href="{{ path('public_home') }}" class="text-white">{{ app.session.get('config').appName }}</a> © {{ "now"|date("Y") }}
            </div>
        </div>

    </div>

</footer>