<nav class="navbar navbar-expand navbar-primary bg-primary sticky-top p-0">
    <div class="container-fluid p-0">
        <a class="navbar-brand mx-4 my-2 text-center" title="{{ app.session.get('config').appName }}" href="{{ path('public_home') }}">
            <img src="{{ app.session.get('config').appHeaderLogo }}" style="height: 31px;" alt="{{ app.session.get('config').appName }}">
        </a>
		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link{% if app.request.get('_route') == 'public_home' %} active{% endif %}" href="{{ path('public_home') }}">
					<i class="fas fa-fw fa-home"></i> {{ 'sections.home.title'|trans }}
				</a>
			</li>
		</ul>
		{% if app.session.get('config').enablePublicLogin %}
			<div class="d-flex me-3">
				<ul class="navbar-nav">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="nav-item dropdown text-nowrap">
						<a class="nav-link dropdown-toggle" href="#" id="userMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{% if null == app.user.profileImage %}
								<span class="user-avatar avatar avatar-24 rounded-circle bg-primary float-start text-white border">{{ app.user.fullname|first }}</span>
							{% else %}
								<img class="user-avatar avatar avatar-24 rounded-circle bg-primary float-start border" src="{{ vich_uploader_asset(app.user.profileImage, 'file') }}" />
							{% endif %}
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuDropdown">
							<h6 class="dropdown-header d-flex align-items-center">
								{% if null == app.user.profileImage %}
									<span class="user-avatar avatar avatar-24 rounded-circle bg-primary float-start text-white border">{{ app.user.fullname|first }}</span>
								{% else %}
									<img class="user-avatar avatar avatar-24 rounded-circle bg-primary float-start border" src="{{ vich_uploader_asset(app.user.profileImage, 'file') }}" />
								{% endif %}
								<div class="ms-2">
									{{ app.user.fullname }}
								</div>
							</h6>
							<div class="dropdown-divider"></div>
							<a href="{{ path('public_profile_edit') }}" class="dropdown-item user-action">
								<i class="fas fa-fw fa-user-edit"></i>
								<span>{{ 'general.editUser'|trans }}</span>
							</a>
							<a href="{{ path('public_logout') }}" class="dropdown-item">
								<i class="fas fa-fw fa-sign-out-alt"></i>
								<span>{{ 'user.sign_out'|trans([], 'EasyAdminBundle') }}</span>
							</a>
						</ul>
					</li>
					{% else %}
						<a href="{{ path('public_login') }}" class="btn btn-light btn-sm">
							<i class="fas fa-fw fa-sign-in-alt"></i> {{ 'login_page.sign_in'|trans([], 'EasyAdminBundle') }}
						</a>
					{% endif %}
				</ul>
			</div>
		{% endif %}
    </div>
</nav>